
.vs/blankexample/v16/.suo
.vs/blankexample/DesignTimeBuild/.dtbcache.v2
.vs/blankexample/v16/.suo
.vs/blankexample/DesignTimeBuild/.dtbcache.v2
obj/Debug/net45/blankexample.csprojAssemblyReference.cache
.vs/blankexample/DesignTimeBuild/.dtbcache.v2
.vs/blankexample/v16/.suo
obj/Debug/net45/blankexample.csprojAssemblyReference.cache
