
.vs/blankexample/v16/.suo
.vs/blankexample/DesignTimeBuild/.dtbcache.v2
.vs/blankexample/v16/.suo
.vs/blankexample/DesignTimeBuild/.dtbcache.v2
obj/Debug/net45/blankexample.csprojAssemblyReference.cache
.vs/blankexample/DesignTimeBuild/.dtbcache.v2
.vs/blankexample/v16/.suo
obj/Debug/net45/blankexample.csprojAssemblyReference.cache
.vs/blankexample/v16/.suo
.vs/blankexample/DesignTimeBuild/.dtbcache.v2
bin/Debug/net472/blankexample.dll
bin/Debug/net472/Ionic.Zip.Reduced.dll
bin/Debug/net472/blankexample.pdb
bin/Debug/net472/log4net.dll
bin/Debug/net472/Microsoft.Xna.Framework.dll
bin/Debug/net472/Microsoft.Xna.Framework.Game.dll
bin/Debug/net472/Microsoft.Xna.Framework.Graphics.dll
bin/Debug/net472/Microsoft.Xna.Framework.Xact.dll
bin/Debug/net472/Mono.Cecil.dll
bin/Debug/net472/Mono.Cecil.Mdb.dll
bin/Debug/net472/Mono.Cecil.Pdb.dll
bin/Debug/net472/MonoMod.RuntimeDetour.dll
bin/Debug/net472/MonoMod.RuntimeDetour.xml
bin/Debug/net472/MonoMod.Utils.dll
bin/Debug/net472/MonoMod.Utils.xml
bin/Debug/net472/MP3Sharp.dll
bin/Debug/net472/Newtonsoft.Json.dll
bin/Debug/net472/ProjectT_v0.4.dll
bin/Debug/net472/NVorbis.dll
bin/Debug/net472/tModLoader.xml
bin/Debug/net472/tModLoader.pdb
bin/Debug/net472/tModLoader.exe
bin/Debug/net472/TerrariaHooks.dll
bin/Debug/net472/Steamworks.NET.dll
bin/Debug/net472/ReLogic.dll
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net472/blankexample.pdb
obj/Debug/net472/blankexample.dll
obj/Debug/net472/blankexample.csproj.FileListAbsolute.txt
obj/Debug/net472/blankexample.csproj.CoreCompileInputs.cache
obj/Debug/net472/blankexample.csproj.CopyComplete
obj/Debug/net472/blankexample.assets.cache
obj/Debug/net472/blankexample.AssemblyInfoInputs.cache
obj/Debug/net472/blankexample.AssemblyInfo.cs
obj/Debug/net45/blankexample.csprojAssemblyReference.cache
obj/blankexample.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net45/blankexample.csprojAssemblyReference.cache
obj/blankexample.csproj.nuget.dgspec.json
